/**********************************左侧手风琴菜单栏************************************/
.left_main{
    width:180px;
    height:100%;
    overflow:hidden;
    position:fixed;
    top:50px;
    left:0px;
    color:#fff;
}

.left_menu{
    width:197px;
    height:100%;
    background-color: #293038;
    font-size:14px; 
    overflow:scroll;
    position:relative;
    font-size:small;
    font-family:sans-serif;
}


/**********************************手风琴菜单栏顶部************************************/
.left_menu_flex{
    width:180px;
    height:30px;
    background-color:#394555;
    cursor: pointer;
    line-height:30px;
}

.left_menu_flex:hover{
    background-color:#37424f;
}

.left_menu_flex .to_left{
    margin-left:50px;
}

.left_menu_flex .to_right{
    display:none;
    float:left;
}

/*******************************手风琴菜单栏各一级标题*********************************/
.left_menu .panel-head{
    width:100%;
    height:40px;
    line-height:40px;
    cursor: pointer;
    background-color:#37424f;
    border-bottom:1px solid #414d5c;
    position:relative;
}

.left_menu .panel-head:hover{
    background-color:#414d5c;
}

.panel-head .content{
    position:absolute;
    top:0;
    left:50px;
}

.panel-head .to_up{
    position:absolute;
    top:0;
    left:0;
    display:none;
}

/*******************************手风琴菜单栏各二级标题*********************************/
.collapse_option{
    width:100%;
    height:40px;
    line-height:40px;
    cursor: pointer;
}
.on{
    background-color:#0099cc;
}

/********************************手风琴菜单栏各图标**********************************/
.icon{
    display:inline-block;
    width:50px;
    text-align:center;
}

/******************************手风琴菜单栏右侧展开栏********************************/
.left_menu_right{
    width:0;
    height:100%;
    position:fixed;
    background-color:#eaedf1;
    top:50px;
}

/******************************右侧展开栏图标********************************/
.left_menu_right .menu_right_iconl{
    position:absolute;
    right:-18px;
    cursor: pointer;
}

.left_menu_right .menu_right_iconr{
    position:absolute;
    top:5px;
    left:-20px;
    cursor: pointer;
    display:none;
}
/******************************小提示部分********************************/
#tips{
    display:inline;
    width:110px;
    height:40px;
    line-height:40px;
    text-align:center;
    position:relative;
    background-color:#556270;
    border-radius:55px 0 0 55px;
    display:none;
    z-index:2;
}

/******************************主体body部分********************************/
.body_main{
    height:1500px;
    width:800px;
    border:1px solid #ccc;
    position:relative;
    left:250px;
    top:50px;
}





